.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vim
*.swp

# Distribution / packaging
*.egg-info/
dist
build
_version.py

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache
.mypy_cache
htmlcov

# Benchmark data/results
benchmarks/*/data
*.prof

# VScode IDE
.vscode/
.env

# Local scratch
.scratch
tests/results

# Local environment
.venv
*venv*

# Jupyter
notebooks/
.ipynb_checkpoints
